LINUX_KERNEL_LINK=https://cdn.kernel.org/pub/linux/kernel/v4.x/linux-4.18.16.tar.xz
LINUX_KERNEL_DIR=$(echo $LINUX_KERNEL_LINK | sed 's|^.*/\(.*\).tar.xz$|\1|')
LINUX_KERNEL_VERSION=$(echo $LINUX_KERNEL_DIR | sed 's/^linux-\(.*\)$/\1/')

IMAGE_FILE=iconnect-stick-$LINUX_KERNEL_VERSION.raw

DEBIAN_MIRROR=http://ftp.de.debian.org/debian/
DEFAULT_PASSWORD=changeme
DEBIAN_RELEASE=stretch
DEBIAN_PKG_VERSION=$(date "+%d%m%y")

## for local use
WORK_DIR=./work
## if using vagrant (prevents sync of build files)
# WORK_DIR=../iconnect-debian-work

COMPILE_THREADS=16
